backup/
bin/
build/data/error.txt
build/data/info.txt
build/data/system.txt
build/data/timetable.txt
build/export/libhwloc.so.5
build/export/libmicrohttpd.so.10
build/pid/
build/txt/
logs/
stats/
timeout/
x64/

build/bash/config.sh
build/bash/dir.sh
build/bash/hivestats.sh
build/bash/mineractive.sh
build/bash/minerstats.sh
build/bash/minertype.sh
wallet/keys/
wallet/values/
wallet/wallets/