backup/*
bin/*
gui/*
debug/*
logs/*
stats/*
timeout/*
x64/*
admin/*
build/export/*
build/pid/*
wallet/keys/*
wallet/values/*
wallet/wallets/*
build/bash/dir.sh
build/bash/config.sh
build/bash/startup.sh
swarm
SWARM.bat
config.json
SWARM.conf
build/data/error.txt
build/data/info.txt
build/data/system.txt
build/data/timetable.txt
build/data/deviation.txt
build/data/lib.txt
config/parameters/commandline.json
config/parameters/newarguments.json
config/parameters/Hive_params_keys.json
config/parameters/SWARM_params_keys.json
config/parameters/autofan.json
config/power/power.json
config/wallets/wallets.json
build/bash/startup.sh
build/cmd/dir.txt
