-Timeout 1 -Benchmark 100 -Delay 1 -RigName1 MMHash -StatsInterval 1 -No_Algo groestl -Currency USD -CoinExchange LTC -Interval 260 -Location US -Auto_Algo Yes -Auto_Coin Yes -PoolName zergpool_coin,zergpool_algo,ahashpool,blazepool,blockmaters,starpool,hashrefinery,phiphipool,zpool -Algorithm Cryptonight,cryptonightv7,phi2,hodl,lyra2re,Equihash,equihash192,equihash144xsg,equihash144zel,equihash144btcz,equihash144safe,Equihash-BTG,ethash,daggerhashimoto,Aergo,AeriumX,Phi2,Yescrypt,YescryptR16,M7M,Neoscrypt,Allium,HMQ1725,Keccak,Lyra2z,Keccakc,Xevan,X16r,Hsr,X17,Blake2s,lyra2v2,Bitcore,X16s,Phi,Timetravel,Skunk,Tribus,Sib,Skein,Groestl,Nist5,c11,myr-gr -Proxy '' -Type NVIDIA1 -Wallet1 1DRxiWx6yuZfN9hrEJa3BDXWVJ9yyJU36i -PasswordCurrency1 BTC -Donate .5
