-Timeout 1 -Benchmark 120 -Delay 1 -RigName1 MMHash -StatsInterval 1 -No_Algo groestl -Currency USD -CoinExchange LTC -Interval 300 -Location US -Auto_Algo Yes -Auto_Coin Yes -PoolName -Favor_Coins Yes zergpool_coin,zergpool_algo,ahashpool,blazepool,blockmaters,starpool,hashrefinery,phiphipool,zpool -Type NVIDIA1 -Wallet1 1DRxiWx6yuZfN9hrEJa3BDXWVJ9yyJU36i -PasswordCurrency1 BTC -Donate .5
